<app-sidebar>
  <app-leaves></app-leaves>
</app-sidebar>


<!-- Add Leave button -->
<!--<button (click)="openAddLeaveModal()">Add Leave</button>-->

<!-- Datatable -->
<!--<ngx-datatable class="material" [rows]="leaves" [columns]="columns" [columnMode]="'force'"-->
<!--               [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">-->
<!--  <ngx-datatable-column name="Employee" prop="employee"></ngx-datatable-column>-->
<!--  <ngx-datatable-column name="Leave Type" prop="leaveType"></ngx-datatable-column>-->
<!--  <ngx-datatable-column name="From Date" prop="fromDate"></ngx-datatable-column>-->
<!--  <ngx-datatable-column name="To Date" prop="toDate"></ngx-datatable-column>-->
<!--  <ngx-datatable-column name="Leave Days" prop="leaveDays"></ngx-datatable-column>-->
<!--</ngx-datatable>-->

<!--&lt;!&ndash; Add Leave Modal &ndash;&gt;-->
<!--<app-add-leave-modal [(modalVisible)]="addLeaveModalVisible"></app-add-leave-modal>-->
